.item {
    box-sizing: border-box;
    width: 220px;
    max-height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buyOptions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemImg {
    padding: 5px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemImg:hover

.itemImg img {
    border-radius: 10px;
}

.itemName {
    width: 100%;
    text-align: center;
}

.price {
    width: 100%;
    text-align: center;
}

.item:hover .itemName {
    text-decoration: underline;
}

.favorite:hover {
    opacity: 0.8;
}